@charset "utf-8";

/*-------------------------------------------------
Author : 최순철
Create date : 2019-08-20
-------------------------------------------------*/

body {
    width: 100%;
    text-align: center;
    background: #212529;
    color: #fff;

    #app {
        text-align: center;

        ul {
            overflow: hidden;
            width: 1400px;
            margin: 0 auto;
            padding: 10px 0;

            li {
                float: left;
                width: 280px;
                height: 200px;
                border: 1px solid #4c4c4c;
                font-size: 38px;
                line-height: 200px;
                cursor: pointer;
                // font-size: 0;

                &.rotate {
                    &>span {
                        -webkit-transform: rotateY(90deg);
                        // -webkit-transform: rotateY(810deg);
                        -webkit-transition: -webkit-transform .2s;
                    }
                }

                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;

                    &.card1 {
                        color: #ffbc84;
                    }

                    &.card2 {
                        color: #a1f6ff;
                    }

                    &.card3 {
                        color: #f5ff6f;
                    }

                    &.card4 {
                        color: #00edb4;
                    }

                    &.card5 {
                        color: #e900ed;
                    }

                    &.card6 {
                        color: #9d00ed;
                    }

                    &.card7 {
                        color: #ffbc00;
                    }

                    &.card8 {
                        color: #fff;
                    }

                    &.card9 {
                        color: #72ff97;
                    }

                    &.card10 {
                        color: #ff7b7b;
                    }
                }
            }
        }
    }
}