@import './variable';
.setBtn {
  display: block;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  &:disabled {
    background: #dcdcdc;
    color: #afafaf;
    &:hover,
    &:active,
    &:focus {
      background: #dcdcdc;
      color: #afafaf;
    }
  }
}
.setBtn01 {
  // 푸른색
  background: $mainColor;
  color: $whiteColor;
  &:hover {
    background: $mainActiveColor;
    color: $whiteColor;
  }
}
.setBtn02 {
  // 빨간색
  background: $subColor01;
  color: $whiteColor;
  &:hover {
    background: $subActiveColor01;
    color: $whiteColor;
  }
}
