$mainColor: #2fb0c0;
$defaultColor: #333;
#wrap {
  width: 100%;
  text-align: center;
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    transition: top 0.5s;
    .gnb {
      display: table;
      width: 100%;
      margin: 0 auto;
      padding: 0 30px;
      & > * {
        display: table-cell;
        vertical-align: middle;
      }
      .size {
        position: fixed;
        top: 10px;
        left: 10px;
        content: '';
      }
      h1 {
        img {
          width: 100%;
          margin: 20px 0;
        }
      }
      ul {
        overflow: hidden;
        text-align: center;
        li {
          display: inline-block;
        }
      }
      .g-menu {
        li {
          font-size: 1.2rem;
          font-weight: 600;
          color: $defaultColor;
          a:hover {
            color: $mainColor;
          }
        }
      }
      .m-menu {
        color: $mainColor;
        li {
          position: relative;
          float: left;
          width: 50%;
          font-size: 0.9rem;
          font-weight: 800;
          & + li::before {
            position: absolute;
            top: 15%;
            left: 0;
            content: '';
            width: 2px;
            height: 70%;
            background: #bbb;
          }
        }
      }
    }
  }
}
// 데스크탑
@media screen and (min-width: 1281px) {
  #header {
    height: 104px;
    .gnb {
      max-width: 1660px;
      .size::before {
        content: '데스크탑';
      }
      h1 {
        width: 130px;
      }
      .g-menu {
        li {
          width: 300px;
        }
      }
      .m-menu {
        width: 200px;
      }
    }
  }
}
// 태블릿
@media screen and (max-width: 1280px) and (min-width: 861px) {
  #header {
    height: 95px;
    .gnb {
      .size::before {
        content: '태블릿';
      }
      h1 {
        width: 150px;
        padding-right: 40px;
      }
      .g-menu {
        display: table;
        li {
          display: table-cell;
          padding: 0 20px;
        }
      }
      .m-menu {
        width: 200px;
      }
    }
  }
}
// 모바일
@media screen and (max-width: 860px) {
  #header {
    height: 104px;
    .gnb {
      .size::before {
        content: '모바일';
      }
      h1 {
        width: 130px;
      }
      .g-menu {
        li {
          width: 300px;
        }
      }
      .m-menu {
        width: 200px;
      }
    }
  }
}
