$defaultColor: #333; // 기본값
$whiteColor: #fff; // 흰색
$greenColor: #3bad00;

$mainColor: #27bfd2; // 메인컬러
$mainActiveColor: #27d2c2;
$subColor01: #ff7d84; // 서브컬러
$subActiveColor01: #fb547b;
$disableColor: #d0d0d0; // 비활성화
$inputColor: #dfdfdf; // 인풋 보더

$desktopSize: 1280px; // 반응형 데스크탑 기준
$mobileSize: 860px; // 반응형 모바일 기준
$loginSize: 450px; // 로그인 회원가입 전용 기준
