$mainColor: #27bfd2;
$mainActiveColor: #27d2c2;
$subColor01: #ff7d84;
$subActiveColor01: #fb547b;
$subColor02: #69b342;
$defaultColor: #333;
$inputColor: #dfdfdf;
$whiteColor: #fff;

$desktopSize: '1280px';
$mobileSize: '860px';
